.about-us-container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

    .about-us-container h1, h2 {
        color: #ffae00;
    }

.team-section {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.team-member {
    text-align: center;
}

.team-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}
